<!doctype html>
<html ng-app="myApp">
<head>
<link rel="stylesheet" type="text/css" href="/static/intro.js-0.5.0/introjs.css">
<script src="/static/intro.js-0.5.0/intro.js"></script>
<script src="/static/angular.js"></script>
<script src="/static/angular-resource.js"></script>
<script src="/static/angular-sanitize.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ledger</title>
<base href="/app/">
<script>
function errHandler(data, status, $location){
    //alert(status + ": " + data);
    var sourceWindow = window.open('', 'Error', 'height=600,width=800,scrollbars=1,resizable=1');
    sourceWindow.document.write(data);
    sourceWindow.document.close();
}

var module = angular.module('myApp', ['ngSanitize']);

module.config([
  '$routeProvider', '$locationProvider' , function ($routeProvider, $locationProvider) {
     $routeProvider
       .when('/', {redirectTo : '/root/newexpenses/newledger'})
       .when('/root/newexpenses/newledger', {new: true, template : '<ng-include src="\'expensesView\'"></ng-view>', controller: ExpensesController})
       .when('/root/newexpenses/:ledgerid/:version', {template : '<ng-include src="\'expensesView\'"></ng-view>', controller: ExpensesController})
       .when('/root/ledgers/:ledgerid/:version', {template : '<ng-include src="\'viewLedgerView\'"></ng-view>', controller: ViewLedgerController})
       .when('/root/frozen/:ledgerid/:version/:access_token/:admin_token', {view_payments: true, template : '<ng-include src="\'viewLedgerView\'"></ng-view>', controller: ViewLedgerController})
       .when('/root/frozen/:ledgerid/:version/:access_token', {view_payments: true, template : '<ng-include src="\'viewLedgerView\'"></ng-view>', controller: ViewLedgerController})
       .when('/404', {template: '<h1>404: {{problem}}</h1><p><a target="_self" href="/app{{url}}">Retry this URL</a><p><a href="/">Start over</a>', controller: function($scope,$location) {$scope.problem = $location.search().requested + " not found"; $scope.url = $location.search().requested}})
       .otherwise({redirectTo: function(routeParam, path, search){ return '/404?requested=' + path; }});

     $locationProvider.html5Mode(true);
  }
]);

function checkNotFoundHandler($location) {
    return function(data, status) {
        var url = $location.path();
        if (status === 404) window.location.replace("/app/404?requested=" + encodeURIComponent(url)); //$location.path("/404").search({"requested": url}); // doesn't work
        else errHandler.apply(this, arguments);
    };
}

function ViewLedgerController($scope , $routeParams, $http, $route, $location) {
    $scope.view_payments = $route.current.view_payments;

    $scope.freeze = function() {
        $http.post(prefix + 'freeze' + "/" + $routeParams.ledgerid + "/" + $routeParams.version).success(function(data, status, headers, config) {
        //console.log(data);
        $location.path("/root/frozen/" + $routeParams.ledgerid + "/" + $routeParams.version + "/" + data.access_token + "/" + data.admin_token);
    }).error(errHandler.bind(this));

    };
    $scope.ledgerid = $routeParams.ledgerid;
    $scope.version = $routeParams.version;
    var url;
    url = prefix;
    if ($scope.view_payments) url += "frozen/";
    else url += "graph/";
    url += $routeParams.ledgerid + "/" + $routeParams.version;
    if ($scope.view_payments) url += "/" + $routeParams.access_token + ($routeParams.admin_token ? "/" + $routeParams.admin_token : "");
    $http.get(url).success(function(data, status) {
        $scope.graph = data.graph;
        if (!$scope.view_payments) {
            $scope.graph = pairs($scope.graph).map(function(v) {
                return [v[0], pairs(v[1]).map(function(w) {
                    return {amount: w[1], to: w[0]};
                })];
            });
            //console.log($scope.graph);
        } else {
            var d = pairs(data.user_tokens);
            d.forEach(function(v) { v.reverse(); });
            d = objectForPairs(d);
            $scope.user_tokens = d;
            $scope.access_token = $routeParams.access_token;
            $scope.admin_token = $routeParams.admin_token;
            $scope.admin_mode = data.admin;
            $scope.reverse_user_tokens = //objectForPairs(pairs(
                data.user_tokens
            //).map(function(v) {return [v[0], String(v[1])]})); // convert int values to strings
        }
        $scope.people = data.people;
        $scope.description = data.description;
    }).error(checkNotFoundHandler($location).bind(this));
    $scope.pairs = pairs;
    $scope.hideMeM = function(v) {return v.filter(function(w) { return w.amount !== 0; }).length > 0; };
}

function pairs(foo) {
    if (typeof foo === "undefined") return [];
    if (typeof foo !== 'object') throw new Error("no object: " + JSON.stringify(foo));
//    return Object.keys(arr).map(function(v) { console.log(v); return [v, arr[v]]; });
var noo = [];
for(i in foo)
    if (foo.hasOwnProperty(i)) {
        noo.push([i, foo[i]])
    }
return noo;
}

function objectForPairs(pairs) {
    var obj = {};
    pairs.forEach(function(v) {
        obj[v[0]] = v[1];
    });
    return obj;
}

module.service('descService', function() {
    var outer = this;
    this.setDesc = function(d) {
        outer.desc = d;
    };
});

function DescController($scope, descService) {
    $scope.descService = descService;
}

function ExpensesController($scope, $http, $location, $route, $routeParams, descService) {
$scope.new = $route.current.new;

$scope.heading = $scope.new ? "Create new ledger" : "Edit ledger";

//$scope.peopleLegend = $scope.new ? "People Involved" : "New People Involved";
$scope.peopleLegend = "People Involved";

$scope.tutorial = function () {
  if ($scope.people.length === 0) { $scope.people.push({name: "Mr Demo Person"}); $scope.$apply(); }
  var intro = introJs();
  intro.setOptions({
    steps: [
      { element: document.querySelectorAll('.step0')[0], intro: "These are sample people involved in this ledger, you can edit their names." },
      { element: document.querySelectorAll('.step1')[0], intro: "If you need more people, add them here." },
      { element: document.querySelectorAll(".step2")[0], intro: 'Everyone you add are visible in this list.', },
      { element: document.querySelectorAll(".step3")[0], intro: "When you are done adding people, add a new expense."},
      { element: document.querySelectorAll(".step4")[0], intro: "You can specify how much they contributed to each expense (like purchases).", },
      { element: document.querySelectorAll(".step5")[0], intro: 'You can also specify whether they should be reimbursed fully, or if they should contribute to paying the expense. Remember, somebody has to pay! That means, at least one checkbox has to get checked!' },
      { element: document.querySelectorAll(".step6")[0], intro: "When you have added all expenses, click Submit to calculate how much everyone should pay each other."}
    ]
  });

  intro.start();
}

  $scope.people = $scope.new ? [{name: "John Doe"},{name: "Mr Smith"}] : [];

  $scope.expenses = [];
  if (!$scope.new) {
      $http.get(prefix + "expenses/" + $routeParams.ledgerid + "/" + $routeParams.version).success(function(data, status) {
          $scope.people = (data.people.map(function(v){return {name: v};}));
          descService.setDesc(data.description);
          $scope.expenses = (data.expenses.map(function(v) {
              return {
                  amounts: objectForPairs($scope.people.map(function(w,idx) {
                      return [idx, String(v.whopaid
                          .filter(function(x){return x.personId === idx}) // get payments only from current person
                          .reduce(function(accu,z){return z.amount+accu;},0))]; // sum them
                  })),
                  ispayer: objectForPairs($scope.people.map(function(w,idx) { return [idx, v.whoshouldpay.indexOf(idx) !== -1]; }).filter(function(v) {return v[1]; })),
                  descs: v.description
              };
          }));
          //console.log($scope.expenses);
      }).error(checkNotFoundHandler($location).bind(this));
  }
 
  var nameExists = function(t) { return $scope.people.filter(function(v) { return v.name === t; }).length > 0;}

  $scope.addPerson = function() {
    var el = document.querySelector("#personname");
    if (el.value === "") return;
    if (nameExists(el.value)) {alert("Name already used."); return;}
    $scope.people.push({name: el.value });
    el.value = "";
  };

  $scope.hideMe = function() { return $scope.people.length > 0; };
  $scope.hideNoExpenses = function() { return $scope.expenses.length > 0; };

  $scope.addExpense = function() {
      $scope.expenses.push({"amounts": {}, "ispayer": {}, "descs": ""});
  };
  $scope.submit = function() {
    //console.log("Form data", children.map(function(w) { return [w.ispayer, w.amounts, w.descs]; }));

    var names = $scope.people.map(function(v) { return v.name; });
    var expenses = children.filter(function(f) { return !f.hidden; }).map(function(v, idx) {
        if (Object.keys(v.ispayer).map(function(k){ return v.ispayer[k]; }).indexOf(true) === -1) {
            console.warn(v.ispayer);
            alert("Somebody has to pay! Check one of the checkboxes in the expense with missing payers.");
            throw new Error("validation error");
        }
        //v.ispayer, v.amounts
        var expense = {};
        expense["whoshouldpay"] = Array.range(0,$scope.people.length).filter(function(value, index) { return v.ispayer[index]; });
        expense["whopaid"] = Array.range(0,$scope.people.length).map(function(w, index) {return {"personId": index, "amount": v.amounts[index] || "0"};}).filter(function(v) { return v["amount"] !== 0; });
        expense["description"] = v.descs ? v.descs : "Unnamed Expense";
        return expense;
    });
    if ([].concat.apply([],  // concatenate all whopaid arrays
          expenses.map(function(v) { return v.whopaid}) // get whopaid arrays
        )
        .filter(function(v){return v.amount !== 0; }) // get the ones where an amount was entered
        .length === 0 // test if no amounts were entered
       ) { alert("No expenses yet! Somebody must have bought something for an amount, and people should be assigned to pay for it (checkboxes)"); return; }
    var d = (descService.desc && descService.desc.length > 0) ? descService.desc : "Unnamed Ledger";
    var obj = {people: names, expenses: expenses, description: d};
    //console.log("POSTing", JSON.stringify(obj));
    $http.post(prefix + 'expenses' + (!$scope.new ? "/" + $routeParams.ledgerid + "/" + $routeParams.version : ""), obj).success(function(data, status, headers, config) {
        //$location.path(data);
        $location.path("/root/ledgers/" + data.jobid + "/" + data.version);
    }).error(errHandler.bind(this));
  };

  var children = [];
  $scope.childAdd = function(child) {
    children.push(child);
  };

  $scope.edit = function(idx) {
    var t;
    t = prompt("Enter new name");
    if (!t) return;
    if (nameExists(t)) {alert("Name already used."); return;}
    $scope.people[idx].name = t;
  }

  $scope.delete = function(idx) {
    $scope.people.splice(idx,1);
  }

  if ($scope.new) $scope.addExpense();
}
var prefix = "/rest/";
Array.range= function(a, b, step){
    var A= [];
        A[0]= a;
        step= step || 1;
        while(a+step< b){
            A[A.length]= a+= step;
        }
    return A;
}

function clone(obj) {
    // Handle the 3 simple types, and null or undefined
    if (null == obj || "object" != typeof obj) return obj;

    // Handle Array
    if (obj instanceof Array) {
        var copy = [];
        for (var i = 0, len = obj.length; i < len; i++) {
            copy[i] = clone(obj[i]);
        }
        return copy;
    }

    // Handle Object
    if (obj instanceof Object) {
        var copy = {};
        for (var attr in obj) {
            if (obj.hasOwnProperty(attr)) copy[attr] = clone(obj[attr]);
        }
        return copy;
    }

    throw new Error("Unable to copy obj! Its type isn't supported.");
} 

function ExpenseController($scope) {
    $scope.peopleLegend = $scope.$parent.peopleLegend;

    $scope.whoshouldpay = function(expense) {
        return $scope.$parent.people.filter(function(v) { return v.shouldpay; }).map(function(v) { return v.personId; });
    };

    $scope.$parent.childAdd($scope);

    $scope.hideMe = function() { return $scope.people().length > 0; };

    $scope.init = function(expense) {
        $scope.hidden = false;
        $scope.people = function() { return clone($scope.$parent.people); };
        $scope.ispayer = expense.ispayer;
        $scope.amounts = expense.amounts;
        $scope.descs = expense.descs;
    }

    $scope.deleteMe = function (v) {
        //$scope.$parent.expenses.splice(v, 1);
        $scope.hidden = true;
    };

}

</script>
</head>
<body>
<script type="text/ng-template"  id="expensesView">
<h1>{{heading}}</h1>
<div ng-show="new">
<div><button ng-click="tutorial()">Tutorial</button></div>
</div>
<div ng-controller="DescController">
<label>Ledger description: <input placeholder="Camping trip" ng-model="descService.desc" /></label>
</div>
<fieldset>
    <legend>{{peopleLegend}}</legend>
    <div>
        <ul class="step2">
            <li ng-hide="hideMe()">No people added yet</li>
            <li class="step0" ng-repeat="person in people">{{person.name}} <a href="javascript:void(0)" ng-click="edit($index)" style="opacity:0.4">✎</a> <a href="javascript:void(0)" ng-click="delete($index)">X</a></li>
        </ul>
        <form ng-submit="addPerson()">
          <div class="step1">
            <input placeholder="Name" id="personname" />
            <input type="submit" value="Add" />
          </div>
        </form>
    </div>
</fieldset>

        <div>
            <div ng-repeat="expense in expenses">
              <div ng-hide="hidden" ng-controller="ExpenseController" ng-init="init(expense)">
                <fieldset>
                <legend>Expense {{$index+1}}: {{descs}}</legend>
                <label>Expense description: <input placeholder="Beer" ng-model="descs" /></label>
                <table cellpadding="5">
                    <thead ng-show="hideMe()"><tr><th>Name of payer<th>Should this person actually pay for this item?<th>Amount paid already</tr></thead>
                    <tr ng-repeat="person in people()">
                        <td class="step3">{{person.name}}</td>
                        <td class="step5"><label style="width:100%;display:inline-block"><input type="checkbox" ng-model="ispayer[$index]" /></label></td>
                        <td class="step4"><!--ng-show="ispayer[$index]"-->
                            <input ng-model="amounts[$index]" placeholder="0" style="text-align:right" />
                        </td>
                    </tr>
                    <tr><td colspan="3" ng-hide="hideMe()">No people added yet</td></tr>
                </table>
                <button ng-click="deleteMe($index)">Delete expense</button>
                </fieldset>
              </div>
            </div>
            <div ng-hide="hideNoExpenses()">No expenses yet</div>
            <div class="step3">
                <button ng-click="addExpense()">Add Expense</button>
            </div>
        </div>
<p><button class="step6" ng-click="submit()">Submit</button></p>
</script>

<div ng-view></div>
<script type="text/ng-template"  id="viewLedgerView">
<p><a href="root/newexpenses/newledger">Create all new ledger</a></p>
<h1>Viewing {{{false:"",true:"frozen"}[view_payments]}} ledger: {{description}}</h1>
<div ng-show="view_payments">
<div ng-show="admin_mode" style="color:#0bf;font-weight:bold;font-variant:small-caps;font-size:x-large">admin mode</div>
<div><a href="root/frozen/{{ledgerid}}/{{version}}/{{access_token}}">public link</a></div>
<div ng-show="admin_mode"><a href="root/frozen/{{ledgerid}}/{{version}}/{{access_token}}/{{admin_token}}">admin link</a></div>
<div ng-show="!admin_mode && (reverse_user_tokens[admin_token] || reverse_user_tokens[admin_token] == '0')">
viewing as {{people[reverse_user_tokens[admin_token]]}}
</div>
</div>
<div ng-repeat="v in graph">
<h2>{{people[v[0]]}} <small ng-show="user_tokens[v[0]]"><a href="root/frozen/{{ledgerid}}/{{version}}/{{access_token}}/{{user_tokens[v[0]]}}">view as</a></small></h2>
<div ng-hide="hideMeM(v[1])">doesn't have to give out anything</div>
<div ng-repeat="i in v[1]" ng-show="i.amount">
<span style="color:green" ng-show="i.paid">paid</span>
<span style="color:red" ng-hide="i.paid">unpaid</span>
give {{people[i.to]}} {{i.amount}}.
<span ng-show="view_payments">
<span ng-show="user_tokens[i.to]">
<a href="/rest/pay/{{ledgerid}}/{{version}}/{{access_token}}/{{user_tokens[i.to]}}/[{{$parent.$index}},{{$index}}]">mark as paid</a>
</span>
</span>
</div>
</div>
<p><a href="root/newexpenses/{{ledgerid}}/{{version}}">Edit this ledger</a></p>
<button ng-click="freeze()">Freeze and start tracking payments</button>
</script>
<script type="text/javascript">
</script>
</body>
</html>
